[submodule "repos/MESS"]
	path = repos/MESS
	url = git@github.com/avcopan/MESS.git
[submodule "repos/moldriver"]
	path = repos/moldriver
	url = git@github.com/avcopan/moldriver.git
[submodule "repos/automol"]
	path = repos/automol
	url = git@github.com/avcopan/automol.git
[submodule "repos/autofile"]
	path = repos/autofile
	url = git@github.com/avcopan/autofile.git
[submodule "repos/autoparse"]
	path = repos/autoparse
	url = git@github.com/avcopan/autoparse.git
[submodule "repos/elstruct"]
	path = repos/elstruct
	url = git@github.com/avcopan/elstruct.git
[submodule "repos/interfaces"]
	path = repos/interfaces
	url = git@github.com/avcopan/interfaces.git
