[submodule "repos/MESS"]
	path = repos/MESS
	url = https://github.com/Auto-Mech/MESS.git
[submodule "repos/PAC99"]
	path = repos/PAC99
	url = https://github.com/Auto-Mech/PAC99.git
[submodule "repos/ThermP"]
	path = repos/ThermP
	url = https://github.com/Auto-Mech/ThermP.git
[submodule "repos/moldriver"]
	path = repos/moldriver
	url = https://github.com/Auto-Mech/moldriver.git
[submodule "repos/automol"]
	path = repos/automol
	url = https://github.com/Auto-Mech/automol.git
[submodule "repos/RateFit"]
	path = repos/RateFit
	url = https://github.com/Auto-Mech/RateFit.git
[submodule "repos/autofile"]
	path = repos/autofile
	url = https://github.com/Auto-Mech/autofile.git
[submodule "repos/autoparse"]
	path = repos/autoparse
	url = https://github.com/Auto-Mech/autoparse.git
[submodule "repos/elstruct"]
	path = repos/elstruct
	url = https://github.com/Auto-Mech/elstruct.git
[submodule "repos/interfaces"]
	path = repos/interfaces
	url = https://github.com/Auto-Mech/interfaces.git
[submodule "repos/ProjRot"]
	path = repos/ProjRot
	url = https://github.com/Auto-Mech/ProjRot.git
[submodule "repos/x2z"]
	path = repos/x2z
	url = https://github.com/Auto-Mech/x2z.git
[submodule "repos/OneDMin"]
	path = repos/OneDMin
	url = https://github.com/Auto-Mech/OneDMin.git
[submodule "repos/VaReCoF"]
	path = repos/VaReCoF
	url = https://github.com/Auto-Mech/VaReCoF.git
[submodule "repos/NST"]
	path = repos/NST
	url = https://github.com/Auto-Mech/NST.git
[submodule "repos/DiNT"]
	path = repos/DiNT
	url = https://github.com/Auto-Mech/DiNT.git
